<ol class="comment-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

{{#if loggedIn}}
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <form class="comment-form">
    <div>
      <textarea rows="3" name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">Add comment</button>
    </div>
  </form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}